@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<BicycleStore.BikesDatabase.Models.Bicycle>
@addTagHelper *,BicycleStore.Web.TagHelpers.PaginationTagHelper
@addTagHelper *,BicycleStore.Web

<table class="table">
    <thead>
        <tr>
            <th>Tittle</th>
            <th>Model</th>
            <th>Color</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>

        <div class="d-flex flex-row flex-wrap justify-content-around">
            @foreach (var bicycle in Model)
            {

                <div class="card col-3 d-flex flex-column m-3 justify-content-around">
                    <img loading="lazy" class="card-img-top" src=@{
                if (bicycle.Photo == null || bicycle.Photo.Base64Photo == "")
                {
                    @:" /noimage.png"
                         } else { @:  "@bicycle.Photo.Base64Photo"
                         } } alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@bicycle.Tittle</h5>
                        <h5 class="card-title">@bicycle.Model</h5>
                        <h5 class="card-title">@bicycle.Price</h5>
                        <p class="card-text">@bicycle.Info</p>
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {

                            <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                            <input type="hidden" name="id" value="@bicycle.Id" />
                            <input type="submit" value="+" class="btn btn-info" />
                        }
                    </div>
                </div>

            }
            </div>

    </tbody>
</table>
<div class="d-flex flex-row justify-content-center">

    <pagination count-pages="@ViewBag.countPages" current-page="@ViewBag.currentPage" url-route-values-category="@ViewContext.RouteData.Values["category"]" page-action="Index"></pagination>

</div>