@{
    ViewData["Title"] = "Home Page";
   
}
@model IEnumerable<BicycleStore.BikesDatabase.Models.Bicycle>



    <h2>@ViewBag.IndexContent</h2>
    <table class="table">
        <thead>
            <tr>
               
                <th>Tittle</th>
                <th>Model</th>
                <th>Color</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bicycle in Model)
            {
                <tr>
                   
                    <td>@bicycle.Tittle</td>
                    <td>@bicycle.Model</td>
                    <td style="height:1ch;color:@bicycle.Color"></td>
                    <td>@bicycle.Price</td>

               
                    <td>
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {

                        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                        <input type="hidden" name="id" value="@bicycle.Id" />
                        <input type="submit" value="+" class="btn btn-info"  />
                        }
                    </td>


                </tr>
            }
        </tbody>
    </table>



