@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using BicycleStore.BikesDatabase.Models
@model IEnumerable<Bicycle>
@addTagHelper *,BicycleStore.Web.TagHelpers.PaginationTagHelper
@addTagHelper *,BicycleStore.Web
<a class="btn-dark btn" asp-controller="Admin" asp-action="CreateOrEditBicycle">Add</a>
<div class="d-flex flex-row flex-wrap justify-content-around">
    @foreach (var bicycle in Model)
    {

        <div class="card col-3 m-3 d-flex flex-column justify-content-around"  >
            <img loading="lazy" class="card-img-top" src=@{
                if (bicycle.Photo == null || bicycle.Photo.Base64Photo == "")
                {
                    @:"/noimage.png"
                 } else { @: "@bicycle.Photo.Base64Photo"
                 } } alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@bicycle.Tittle</h5>
                <h5 class="card-title">@bicycle.Model</h5>
                <h5 class="card-title">@bicycle.Price</h5>
                <p class="card-text">@bicycle.Info</p>
                <a class="btn btn-primary" asp-action="CreateOrEditBicycle" asp-controller="Admin" asp-route-id="@bicycle.Id">Edit</a>
                <a class="btn btn-danger" asp-action="DeleteBicycle" asp-controller="Admin" asp-route-id="@bicycle.Id">Delete</a>
            </div>
        </div>
    }
</div>
<div class="d-flex flex-row justify-content-center">
    <pagination count-pages="@ViewBag.countPages" current-page="@ViewBag.currentPage" page-action="Bicycles"></pagination>

</div>
<script>

</script>

