@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BicycleStore.Web.Models.ViewModels.Account.ChangePasswordViewModel
<form method="post">
    <div class="form-group">
        <div>
            @Html.ValidationSummary()
        </div>
        <div>
            @Html.LabelFor(x => x.Password)
            @Html.TextBoxFor(x => x.Password)
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <div>
            @Html.LabelFor(x => x.NewPassword)
            @Html.PasswordFor(x => x.NewPassword)
            @Html.ValidationMessageFor(x => x.NewPassword)
        </div>

        <input type="submit" value="Login" class="btn btn-primary" />

    </div>
</form>




<a class="btn btn-primary" asp-action="Register">
    Register
</a>