@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BicycleStore.Web.Models.ViewModels.Account.LoginViewModel
<div class="d-flex flex-row justify-content-center align-items-center">

    <form method="post" class="cardContainer">

        <div class="myCard">
            <div class="d-flex flex-column justify-items-center   m-3">
                @Html.ValidationSummary()


                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email)
                @Html.ValidationMessageFor(x => x.Email)

                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password)
                @Html.ValidationMessageFor(x => x.Password)



                <input type="submit" value="Login" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Register">
                    Register
                </a>
            </div>

        </div>
    </form>




   
</div>
