@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BicycleStore.Web.Models.ViewModels.Account.RegistrationViewModel



    <form method="post" class="cardContainer" asp-action="Register">


        <div class="myCard">

            @Html.ValidationSummary()
            <div class="d-flex flex-column justify-items-center   m-3">
                @Html.LabelFor(x => x.User.Email)
                @Html.TextBoxFor(x => x.User.Email)
                @Html.ValidationMessageFor(x => x.User.Email)

                @Html.LabelFor(x => x.User.Firstname)
                @Html.TextBoxFor(x => x.User.Firstname)
                @Html.ValidationMessageFor(x => x.User.Firstname)

                @Html.LabelFor(x => x.User.Secondname)
                @Html.TextBoxFor(x => x.User.Secondname)
                @Html.ValidationMessageFor(x => x.User.Secondname)
            </div>
            <div class="d-flex flex-column justify-items-center   m-3">
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password)
                @Html.ValidationMessageFor(x => x.Password)

                @Html.LabelFor(x => x.ConfirmPassword)
                @Html.PasswordFor(x => x.ConfirmPassword)
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
            </div>
            <div style=" flex-basis: 100%; height: 0;"></div>
            <input type="submit" style="padding: 1rem 4rem 1rem 4rem; " value="Register" class="btn btn-primary" />
            <div style=" flex-basis: 100%; height: 0;"></div>
            <a style="padding: 1rem 4rem 1rem 4rem; " class="btn btn-primary" asp-action="Login">
                Login
            </a>


        </div>
    </form>


