@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    int i = 0;
}
@model Dictionary<string, List<string>>



<form id="formname" asp-action="GenerateFilters" asp-controller="Home" method="post" class="d-flex flex-column">
    @foreach(var pare in Model)
            {
        <h3>@pare.Key</h3>

        <input type="hidden" name="data[@i].Key" value="@pare.Key"/>

    @for (int j = 0; j < pare.Value.Count; j++)
    {
        <span class="d-flex justify-content-between">
           
          <label>@pare.Value[j]</label>
                <input type="checkbox" class="custom-checkbox filter" @{

                    if (ViewBag.Filters.ContainsKey(pare.Key))
                    {

                        if (ViewBag.Filters[pare.Key].Contains(@pare.Value[j]))
                        {
                             @:checked
                       }
                           

                    }
                    }
                         name="data[@i].Value" value="@pare.Value[j]"/>



        </span>
            }
        i++;
    }
   
</form>



