@model BicycleStore.Web.Models.ViewModels.Cart.CartIndexViewModel

<table class="table">
    <thead>
        <tr>
           
            <th>Tittle</th>
            <th>Model</th>
            <th>Price</th>
            <th>Count</th>
            <th>TotalPrice</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
               
                <td>@line.Bicycle.Tittle</td>
                <td>@line.Bicycle.Model</td>
                <td>@line.Bicycle.Price</td>
                <td>@line.Quantity</td>
                <td>@(line.Bicycle.Price * line.Quantity)</td>
                <td><a class="btn btn-dark" asp-action="RemoveFromCart" asp-controller="Cart" asp-route-id="@line.Bicycle.Id.ToString()" asp-route-returnUrl="/Cart">X</a></td>


            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Total Price:</td>
            <td>
                @Model.Cart.ComputeTotalValue() ГРИВЕНЬ
            </td>


        </tr>

    </tfoot>
</table>